doctype html
html
  head
    title Hairs Design
    link(rel="stylesheet" href="node_modules/bulma/css/bulma.css")
  body
    div.container
      nav.nav
        div.nav-left 
          h1.title World Braids Design 
              a.nav-item
                img(src="http://images.clipshrine.com/download/wheel/large-Soccer-Ball-0-5587.png")
        div.nav-center
              a.nav-item.is-tab.is-active Sales
              a.nav-item.is-tab Contents
        div.nav-right.nav-menu
            a.nav-item.is-tab.is-active Home
            a.nav-item.is-tab Wigs
            a.nav-item.is-tab Styles
    section.hero.is-primary
      div.hero-body
        div.container
          h1.title Welcome to Perpetua Hair Braiding
          h2.subtitle The African Hair Technology
          #Hairs.container
    footer.footer
      div.container 
        div.content.has-text-centered
                strong Designed 
                |  by Stephane D. Kpekouma

    .me
    
  
